<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tongji.dao.PersonInfoDao">
  
  	<update id="updatePersonMoblie" >
		update ex_all_status set sj = #{personMoblie} where pk_xgh = #{personNo}
	</update>
</mapper>